
.buyList .reward image{width: 30rpx;height:30rpx;}
.buyList .tip .tip-item{padding:0 10rpx;line-height: 48rpx;border-radius: 30rpx;margin:0 30rpx 20rpx 0;line-height: 48rpx;min-width: 80rpx;}
.buyPeople .headImg{width: 25%}
.buyPeople .headImg image{width: 120rpx;height: 120rpx;}
.buyPeople .phone button{background-color: #f55b5b;}
.buyPeople .name button{background-color: #36b6ee;}
.buyPeople .icon{width: 30rpx;height:30rpx;}
