

.serviceList .tip .tip-item{padding:0 10rpx;border-radius: 25rpx;margin:0  30rpx 20rpx 0;line-height:48rpx;min-width: 80rpx;}
.serviceList .imgbox .lisThree{ width:200rpx;height: 130rpx; overflow: hidden;margin-right: 14rpx;}
.serviceList .imgbox .lisThree:nth-child(3n){margin-right: 0;}
.serviceList .imgbox .lisOne{width: 100%; height: 360rpx;}
.serviceList .imgbox .lisTwo{width:240rpx; height: 240rpx;margin-right: 30rpx;}
.serviceList .imgbox .lisTwo:nth-child(2n){margin-right: 0;}
.serviceList .imgbox .img{margin-top: 20rpx;}
.serviceList .imgbox image{width: 100%;height: 100%;display: block;border-radius: 10rpx;}
.serviceList .info image{width: 30rpx;height: 30rpx;}